# =========================
# Python / uv
# =========================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[oc]
build/
dist/
wheels/
*.egg-info

# =========================
# Environment variables
# =========================
.env
.venv


# =========================
# uv
# =========================
uv.lock

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
